* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --backgroundColor: #110f18;
    --textColor: #f1eaea;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: "Exo 2", sans-serif;
}